* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #000;
    padding: 16px 0;
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: auto;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
   /* height: 180px; */
   width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: #000;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(238, 171, 139, 0.603);
}

#sports .articles article a {
    background-color: rgba(95, 158, 160, 0.63);
}

#economy {
    background-color: rgba(100, 148, 237, 0.342);
}

#economy .articles article a {
    background-color: rgba(255, 127, 80, 0.61);
}

#culture {
    background-color: rgba(143, 188, 143, 0.603);
}

#culture .articles article a {
    background-color: rgba(139, 0, 0, 0.459);
}

#clima {
    background-color: rgba(205, 92, 92, 0.603);
}

#clima .articles article a {
    background-color: rgba(76, 0, 130, 0.418);
}